* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

main {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col,
.col-half {
  padding: 0 0.5rem;
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .col-half {
    width: 50%;
  }
}

@media only screen and (max-width: 449px) {
  .logo {
    width: 75%;
  }
}
