@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  background-color: black;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.drop-btn {
  background-color: rgb(157, 82, 232);
  color: white;
  padding: 7px 20px;
  width: 106px;
  font-family: nunito, sans-serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1rem;
  border: none;
  cursor: pointer;
}

.drop-down-content {
  display: none;
  position: absolute;
  background-color: rgb(157, 82, 232);
  width: 106px;
}

.drop-down-content a {
  color: white;
  font-family: nunito, sans-serif;
  font-weight: 200;
  text-align: left;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

.drop-down-content a:hover {
  background-color: lightgray;
  color: rgb(157, 82, 232);
  transition: all 0.4s ease 0s;
  font-weight: bold;
}

.drop-down:hover .drop-down-content {
  display: block;
}

.main-text {
  padding-top: 55px;
  padding-bottom: 40px;
  width: 250px;
  margin: 0 auto;
}

h1 {
  font-family: nunito, sans-serif;
  text-align: center;
}

hr {
  height: 5px;
  width: 100px;
  border: 2px solid rgb(157, 82, 232);
  border-radius: 10px;
  background: rgb(157, 82, 232);
  margin: 0 auto;
}

.sub-text {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 255px;
  margin: 0 auto;
}

h3 {
  font-family: nunito, sans-serif;
  font-weight: 400;
  text-align: center;
}

.what-food {
  font-family: nunito, sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: rgb(44, 44, 44);
}

.text {
  width: 260px;
  height: 40px;
  background-color: rgb(224, 224, 224);
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  margin-bottom: 25px;
}

.price-range {
  font-family: nunito, sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: rgb(44, 44, 44);
}

.price {
  width: 260px;
  height: 40px;
  background-color: rgb(224, 224, 224);
  border: none;
  border-radius: 5px;
  padding-left: 15px;
}

form {
  width: 300px;
  margin: 0 auto;
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

input[type="submit"] {
  width: 120px;
  height: 35px;
  background-color: rgb(157, 82, 232);
  color: white;
  font-family: nunito, sans-serif;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin: 40px auto;
  display: block;
}

#wine-rec {
  padding-top: 55px;
  padding-bottom: 40px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#wine-image {
  padding-top: 55px;
  padding-bottom: 30px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#add-to-fav {
  padding-bottom: 15px;
  width: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.home-page-btn {
  width: 120px;
  height: 35px;
  background-color: rgb(63, 220, 38);
  color: white;
  font-family: nunito, sans-serif;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.home-page-btn-2 {
  width: 120px;
  height: 35px;
  background-color: rgb(63, 220, 38);
  color: white;
  font-family: nunito, sans-serif;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  float: center;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.home-page-btn-3 {
  width: 120px;
  height: 35px;
  background-color: rgb(63, 220, 38);
  color: white;
  font-family: nunito, sans-serif;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  float: center;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  margin-top: 40px;
}

.content {
  display: block;
  margin-top: 55px;
  margin-bottom: 55px;
}

.name-of-fav-wine {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.pic-of-fav-wine {
  display: block;
  margin: 0 auto;
}

.modal {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(34, 29, 29, 0.9);
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 15px;
  padding-bottom: 30px;
  width: 40%;
  text-align: center;
  border-radius: 5px;
  border: none;
}

button,
i.edit-icon,
i.delete-icon {
  cursor: pointer;
}

.sub-button {
  cursor: pointer;
  background-color: rgb(157, 82, 232);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: nunito, sans-serif;
}

.sub-button:hover {
  box-shadow:
    0 10px 10px 0 rgba(0, 0, 0, 0.24),
    0 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.submit-button-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
