@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  background-color: black;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.dropbtn {
  background-color: rgb(157, 82, 232);
  color: white;
  padding: 7px 20px;
  width: 106px;
  font-family: nunito, sans-serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1rem;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(157, 82, 232);
  width: 106px;
}

.dropdown-content a {
  color: white;
  font-family: nunito, sans-serif;
  font-weight: 200;
  text-align: left;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: lightgray;
  color: rgb(63, 220, 38);
  transition: all 0.4s ease 0s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.discover {
  padding-top: 50px;
  padding-bottom: 35px;
}

h1 {
  font-family: nunito, sans-serif;
}

hr {
  height: 5px;
  width: 100px;
  border: 2px solid rgb(157, 82, 232);
  border-radius: 10px;
  background: rgb(157, 82, 232);
}

.access {
  padding-top: 35px;
  padding-bottom: 35px;
}

h3 {
  font-family: nunito, sans-serif;
}
